
	<section class='home-feed'>
		<ul>
		<% @questions.reverse.each do |question| %>
			<li> 
				<a href ="questions/<%= question.id %>">  <%= question.title %> </a>  <br>
		<% question.tag_list.each do |tag| %>
			  <span class="radius secondary label"><%= tag %></span>
		<% end %>
		
		<span class='username'><a href='<%= user_path(question.user)%>'> <%= question.user.name %> </a></span> <br>


				<span class='username'> <%= timeago_tag question.created_at, :nojs => true, :limit => 10.days.ago %> </span> <br>
			</li>
		<% end %> 
		</ul>
</section>

