<div class="medium-8 columns">
	<%= form_for @question, :html => { :multipart => true } do |f| %>

		<% if flash[:errors] %>
			<div data-alert class="alert-box warning radius">
				<%=flash[:errors].first %>
  			<a href="#" class="close">&times;</a>
			</div>
		<% end %>

		<div id="placeholder-div3"></div> <br><br>
		<%= f.text_field :title, placeholder: 'Title' %> <br>
		<%= f.text_field :hangout_link, placeholder: 'Hangout Link' %> <br>
		<%= f.text_area :description, placeholder: 'Description' %> <br>
		
		<%= f.text_field :tag_list, {id: "widget1" } %><br>
	
	  <%= f.file_field :file_avatar %>

		<%= f.submit("Ask", {class: 'active button'}) %>

	<% end %>

</div>
<div class="medium-4 columns">
	<section class='right-bar'>
		
			<p><strong>How To</strong></p>

		<p><strong>Code</strong><br>
			Attach your code. <strong>If it's one file add .txt</strong> to the file extension e.g
			myfile.html to myfile.html.txt.

			If it's <strong>more than one file, zip the file</strong> and then attach it. 	

		<p><strong>Click Hangouts on Air button</strong><br>
			After the window opens click the button below to select the screen with your code to screenshare. <br>

		<%= image_tag('Screenshare.png', size: "50")%><br>

		<strong>Before recording</strong><br>
			Copy the Embed Video link which you’ll find by clicking the ‘Links’ icon in the bottom right corner. Paste it into ‘Your Video Question’ where you posted your question. <br>

		<%=image_tag('Links.png', size: "80")%><br>

		<strong>Ready to record</strong><br>
			Air may take a few seconds to prepare. When it’s ready you’ll see this at the bottom of the screen. Click when ready to broadcast!<br>

		<%=image_tag('Start.png', size: "150")%><br>

		<strong>End recording</strong><br>  
			After clicking you’ll “Start Broadcast” you’ll see the button below. Click again to stop broadcasting.<br> 

		<%=image_tag('Stop.png', size: "150")%><br>

			Sit back and relax, help is on the way! While you wait check out some questions and see if you can help.<br>
			</p>

	</section>
</div>