<div class="medium-8 columns">
	<%= form_for @question, :html => { :multipart => true } do |f| %>

		<% if flash[:errors] %>
			<div data-alert class="alert-box warning radius">
				<%=flash[:errors].first %>
  			<a href="#" class="close">&times;</a>
			</div>
		<% end %>

		<div id="placeholder-div3"></div> <br><br>
		<%= f.text_field :title, placeholder: 'Title' %> <br>
		<%= f.text_field :hangout_link, placeholder: "Paste the 'Embed Video URL' from the Hangout window in 'Links'" %> <br>
		<%= f.text_area :description, placeholder: 'Description' %> <br>
		
		<%= f.text_field :tag_list, {id: "widget1" } %><br><br>

		<label> Attach one or more files as a zip file.</label>
	
	  <%= f.file_field :file_avatar %><br>

		<%= f.submit("Ask", {class: 'active button'}) %>

	<% end %>
</div>

<div class="medium-4 columns">
	<section class='right-bar'>

	<div class="arrow"> How to Post A Video Question </div> 
	<div id="box1" class="box">
	

		<p>1. Open your troublesome code in your preferred text editor.</p>
 	

		<p>2. Click the Hangouts on Air button. A new window will open. Press the big green icon, then Join Now and set up your hangout. Write askadev in the Name of the hangout, then start the hangout. </p>


		<p>3. Select the green share icon and choose the window for your text editor. This is what will be recorded.</p>

		<p><%= image_tag('Screenshare.png', size: "50")%></p>

		
		<p>4. Save the link to your recording before you begin. It's very important you remember this step, or we won't be able to retrieve your video once you've finished! To save it, click the Links icon in the bottom right corner, and copy the embed video URL. Paste the link into the link field on your Question page.</p>


		<p><%=image_tag('Links.png', size: "80")%></p>

		<p>5. When you're ready press Start Broadcast! Remember to speak through the problem you have.</p>


		<p><%=image_tag('Start.png', size: "150")%></p>

		<p>6. Finished your question? Press Stop broadcast. </p>

		<p><%=image_tag('Stop.png', size: "150")%></p>
		</div>

		


		




