<div class="medium-8 columns">
	<%= form_for @question, :html => { :multipart => true } do |f| %>

		<% if flash[:errors] %>
			<div data-alert class="alert-box warning radius">
				<%=flash[:errors].first %>
  			<a href="#" class="close">&times;</a>
			</div>
		<% end %>

		<%= f.text_field :title %> <br>
		<%= f.text_area :description%> <br>
		
		<%= f.text_field :tag_list, {id: "widget1" } %><br>
	
		<div id="placeholder-div3"></div> <br><br>
	  <%= f.file_field :file_avatar %>

		<%= f.submit("Ask", {class: 'active button'}) %>

	<% end %>
</div>

<div class="medium-4 columns">
	<section class='right-bar'>

	<div class="arrow"> How to Post A Video Question </div> 
	<div id="box1" class="box">
	

		<p>1. Open your troublesome code in your preferred text editor.</p>
 	

		<p>2. Click the Hangouts on Air button. A new window will open. Press the big green icon, then Join Now and set up your hangout. Write askadev in the Name of the hangout, then start the hangout. </p>


		<p>3. Select the green share icon and choose the window for your text editor. This is what will be recorded.</p>

		<p><%= image_tag('Screenshare.png', size: "50")%></p>

		
		<p>4. Save the link to your recording before you begin. It's very important you remember this step, or we won't be able to retrieve your video once you've finished! To save it, click the Links icon in the bottom right corner, and copy the embed video URL. Paste the link into the link field on your Question page.</p>


		<p><%=image_tag('Links.png', size: "80")%></p>

		<p>5. When you're ready press Start Broadcast! Remember to speak through the problem you have.</p>


		<p><%=image_tag('Start.png', size: "150")%></p>

		<p>6. Finished your question? Press Stop broadcast. </p>

		<p><%=image_tag('Stop.png', size: "150")%></p>
		</div>

		


<div class="arrow2"> How to Add your Question </div>
	<div id="box2" class="box2">

		<p>7. Give your question a title. To help people who are answering, give a brief description in the text field. Add tags, and upload a copy of your code. If it's one file add .txt to the file extension e.g. my file.html to my file.html.text. If you're uploading multiple files, zip them first.</p>

		<p>8. Press Ask. Your question and video will be automatically embedded on the site, to be viewed by the askadev community.</p>

		<p>9. Sit back and relax, help is on the way! While you wait for a reply, check out some of the other questions and answers on askadev to see if you can help someone else out.</p>
		</p>

	</div>

		</section>
</div>
		




