<div class="medium-8 columns">

	<section class='question'>
		<%= link_to "edit", edit_question_path(@question)  %>
		<h2><%= @question.title %> </h2><br>
		<p> <%= render_question_description %> </p>
		<% @question.tag_list.each do |tag| %>
			  <span class="radius secondary label"><%= tag %></span>
		<% end %>
		<a href='<%= @question.file_avatar.url %>'><%=@question.file_avatar_file_name%></a><br>
		<span class='username'><a href='<%= user_path(@question.user)%>'> <%= @question.user.name %> </a></span> <br>
		<span class='username'> <%= timeago_tag @question.created_at, :nojs => true, :limit => 10.days.ago %> </span>

			<section class='hangout'>
		<% if current_user %>
				<h4> Know the answer? </h4>
				<div class="g-hangout" data-render="createhangout"></div>	
				<div id="placeholder-div3"></div>
		<% end %>
			</section>
	</section>


	<section class='response-feed'>
		<%= form_tag mark_answer_path, id: 'mark-answer', method: :post do |f| %>
			<% @responses.each do |response| %>
				<li>
					<aside>
						<% if response.correct == true %>
							<%= image_tag('correct.png', size: "32", class: "correct-ans", 'data-id' => "#{response.id}", 'data-question' => "#{@question.id}")%>
						<% else %>
							<%= image_tag('disabled_correct.png', size: "32", class: "correct-ans", 'data-id' => "#{response.id}", 'data-question' => "#{@question.id}")%>
						<% end %>
					</aside>

					<section>	
				<% if response.correct == true %>
					<h5> Best Answer </h5> 
				<% end %> 
						<p><%= render_response(response) %> </p>
						<span class='username'><a href='<%= user_path(response.user)%>'><%= response.user.name %></a></span> <br>
						<span class='username'><%= timeago_tag response.created_at, :nojs => true, :limit => 10.days.ago %></span>
					</section>

				</li>
			<% end %>
		<% end %>
	</section>

	<% if current_user %>
		<section class='reply'>
			<%= form_tag response_path :method => :post do |f| %>
				<% if flash[:errors] %>
					<div data-alert class="alert-box warning radius">
						<%= flash[:errors].first %> 
  					<a href="#" class="close">&times;</a>
					</div>
				<% end %>	
				
				<%= text_area_tag(:response, nil, placeholder: 'Make their life easier...')%>
				<input type='hidden' name='question_id' value='<%=@question.id%>'>  
				<%= submit_tag("Reply", {class: 'active button'}) %>
			<% end %>
		</section>
	<% end %>

</div>
	<div class="medium-4 columns">
	<section class='right-bar'>
		
		<p><strong>How To Answer</strong></p>

		<p><strong>Download the attached code</strong><br>
		Download the attached code and have it open in your text editor, 			ready to screenshare for your screencast reply. 

		<p><strong>Click Hangouts on Air button</strong><br>
			After the window opens click the button below to select the screen with your code to screenshare. <br>

		<%= image_tag('Screenshare.png', size: "50")%><br>

		<strong>Before recording</strong><br>
			Copy the Embed Video link which you’ll find by clicking the ‘Links’ icon in the bottom right corner. Paste it in a reply. <br>

		<%=image_tag('Links.png', size: "80")%><br>

		<strong>Ready to record</strong><br>
			Air may take a few seconds to prepare. When it’s ready you’ll see this at the bottom of the screen. Click when ready to broadcast!<br>

		<%=image_tag('Start.png', size: "150")%><br>

		<strong>End recording</strong><br>  
			After clicking you’ll “Start Broadcast” you’ll see the button below. Click again to stop broadcasting.<br> 

		<%=image_tag('Stop.png', size: "150")%><br>

			Wait for your big thank you! <br>
			</p>

	</section>
</div>
