

	<section class='question'>
		<h2><%= @question.title %> </h2><br>
		<p> <%= render_question_description %> </p>
		<a href='<%= @question.file_avatar.url %>'><%=@question.file_avatar_file_name%></a><br>
		<span class='username'> <%= @question.user.name %> </span> <br>
		<span class='username'> Asked on: <%= @question.created_at %> </span>

			<section class='hangout'>
		<% if current_user %>
				<h4> Know the answer? </h4>
				<div class="g-hangout" data-render="createhangout"></div>	
				<div id="placeholder-div3"></div>
		<% end %>
			</section>
	</section>


	<section class='response-feed'>
		<% @responses.each do |response| %>
			<li> <%= render_response(response) %> <br> 
			<span class='username'><%= response.user.name %></span> <br>
			<span class='username'>Replied on: <%= response.created_at %></span></li>
		<% end %>
	</section>

	<% if current_user %>
		<section class='reply'>
			<%= form_tag response_path :method => :post do |f| %>
				<% if flash[:errors] %>
					<% flash[:errors].each do |errors| %>
						<%= errors %> 
					<% end %>
				<% end %>
				
				<%= text_area_tag(:response, nil, placeholder: 'Make their life easier...')%>
				<input type='hidden' name='question_id' value='<%=@question.id%>'>  
				<%= submit_tag("Reply", {class: 'active button'}) %>
			<% end %>
		</section>
	<% end %>
