<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<section>
	<%= @question.title %> <br>
	<%= @question.description %>
</section>

<section>
	<% @responses.each do |response| %>
		<li> <%= response.response %></li>
	<% end %>
</section>

<% if current_user %>
	<section>
		<%= form_tag response_path :method => :post do |f| %>
			<% if flash[:errors] %>
				<% flash[:errors].each do |errors| %>
					<%= errors %>
				<% end %>
			<% end %>
			<%= text_area_tag(:response) %>
			<input type='hidden' name='question_id' value='<%=@question.id%>'>  
			<%= submit_tag("Reply") %>
		<% end %>
	</section>
<% end %>