<h3> My Profile </h3>

<%= @profile_user.first_name %><br>
<%= @profile_user.email %><br>
<img width="100" height="100" src= "<%= @profile_user.image %> ">

<h3> My questions </h3>

<% @profile_user.questions.each do |question| %>
	<a href='<%= question_path(question) %>'><br><%= question.title %></a>
<% end %>
