<!DOCTYPE html>
<html>
<head>
  <title>Hotline</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
		Hi, <%= current_user.first_name %> <br>
		<a href='<%= new_question_path %>'>Ask A Dev</a>
		<a href='<%= signout_path %>'> Sign Out </a>
	<% else %>
		<%= link_to 'Login with google', '/auth/google_oauth2' %>
	<% end %>


	<%= yield %>

	<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
	<script type="text/javascript">
  gapi.hangout.render('placeholder-div3', {
    'render': 'createhangout',
    'hangout_type': 'onair',
    'widget_size': 175
  });
</script>	
</body>
</html>
