<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>askadev</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


 		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <%= javascript_include_tag "vendor/modernizr" %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

	<div class="contain-to-grid sticky" data-options="sticky_on: large" >
		<nav class="top-bar" data-topbar>
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="<%= root_path %>"><%=image_tag('logo.gif')%></a></h1>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		  </ul>

		  <section class="top-bar-section">
		    
		    <!-- Right Nav Section -->
		    <ul class="right">
		      <% if current_user %>
			      <li class="has-dropdown topbar-field">
							<a href="">Hi <%= current_user.first_name %> </a>
			        <ul class="dropdown">
			          <li><a href="#">Settings</a></li>
			          <li><a href='/users/<%= current_user.id %>'> My Profile </a></li>
								<li> <a href='<%= signout_path %>'> Sign Out </a> </li>
			        </ul>
			      </li>
		      <% else %>
		      	<li><%= link_to image_tag('g.png') + "Sign in with google", '/auth/google_oauth2', {class: 'gsign-in topbar-field'} %></li>
		      <% end %>
		    </ul>

		    <div class='right extra-btn topbar-field'>
			  	<a href="#" class='about' data-reveal-id="myModal" data-reveal>About</a>
		      <% if current_user %>
						<a href='<%= new_question_path%>' class='button'> Ask Question </a>
					<% end %>
			  </div>
		    <!-- Left Nav Section -->
	    <ul class="left">
				<li class="has-form topbar-field">
				  <div class="row collapse">
				  <span class='search'>
				    <div class="large-8 small-8 columns">
				      <input type="text" placeholder="Discover...">
				    </div>
				    <div class="large-4 small-4 columns">
				      <a href="#" class="active button expand">Search</a>
				    </div>
				    </span>
				  </div>
				</li>    
			</ul>

		  </section>
		</nav>
	</div>



	<div class='container'>
		<div class="row">
	  	<div class="small-9 large-9 columns"> 
	  		<section class='main-body'>
					<% if flash[:notice] %>
	  				<div data-alert class="alert-box success radius">
							<%= flash[:notice] %>
  						<a href="#" class="close">&times;</a>
						</div>
					<% end %>
					<section class='inner-tab'>
						<a href='<%= root_path %>'> Questions </a>
						<a> Solved </a>
						<a> Live Sessions </a>
					</section>
					<section class='main-inner'>
	  				<%= yield %> 
	  			</section>
	  		</section>
	  	</div>
			
			<div class="small-3 large-3 columns">
				<section class='right-bar'>
					
				</section>
			</div>
		</div>
	</div>

	<div id="myModal" class="reveal-modal" data-reveal>
  		<h2 style='text-align: center'> 24hr Developer Hotline </h2> 
  	<section class='modal-container'>
	  	<section class='about-info'>
	  		<h4>Ask a Question</h4>
	  		<p> Describe the issue with your code. Record a video or upload the problem files.</p>
	  	</section>
	  	<section class='about-info'>
	  		<h4>Connect to a Developer</h4>
	  		<p>A friendly developer will pair with you over live video chat. Rate them to let them know they did a great job!</p>
	  	</section>
	  	<section class='about-info'>
	  		<h4>Give back to the community</h4>
	  		<p> Your recorded session becomes an online resource for others learning to code. </p>
	  	</section>
	  </section>
  	<a class="close-reveal-modal">&#215;</a>
	</div>


		<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
		<script type="text/javascript">
		  gapi.hangout.render('placeholder-div3', {
		    'render': 'createhangout',
		    'hangout_type': 'onair',
		    'widget_size': 175
		  });
		</script>	
  </body>
</html>


 





